html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "monaco";
  scroll-behavior: smooth;  
}

body {
    overflow: auto;
    padding: 0 80px;
}

section {
    min-height: 670px;
}

.anchor {
  height: 80px; /*same height as header*/
  margin-top: 80px; /*same height as header*/
    display: block;
}

p {
    line-height: 30px;
}

#nav {
    height: 80px;
    position: fixed;
    background: #fff;
    width: 100%;
    z-index: 1000;
    top: 0;
    border-bottom: 10px solid #fff;
    margin-top:-10px;
    padding: 0;
}

#nav li {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 10px 1.8%;
    color: #000;
    border-left: 2px solid #a002fc;
}

#nav #nav_img {
    background-image: url(../img_shop/membres.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 114px;
    height: 60px;
    margin-bottom: -31px;
    position: relative;
    border-top: 10px solid #fff;
    border-left: 0;
    padding: 0;
}

#nav li a {
    text-decoration: none;
    color: #000;
}

#nav li:hover {
    background: #f7b733;
    color: #fff;
}

footer {
    padding: 25px;
}